apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafkadeployment
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: bitnami/kafka:3.5.0
        ports:
        - containerPort: 9092
