apiVersion: apps/v1
kind: Deployment
metadata:
  name: sparkdeployment
  labels:
    app: spark
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark
  template:
    metadata:
      labels:
        app: spark
    spec:
      containers:
      - name: spark
        image: bitnami/spark:3.4.1
